.c_landing-page-frame10 {
  @apply w-full overflow-hidden max-w-[1440px] [border-top:1px_solid_#000] box-border items-start [border-left:1px_solid_#000] [border-right:1px_solid_#000] [border-bottom:1px_solid_#000] flex-col justify-start bg-[#f1f0e8];
}

.c_landing-page-rectangle10,.c_landing-page-rectangle11 {
  @apply w-full h-auto m-0 block max-w-[1440px];
}

.c_landing-page-rectangle10 {
  @apply [box-shadow:0_4px_4px_0_rgba(0,0,0,.25)] rounded-tl-[80px] rounded-br-[80px] rounded-tr-[80px] rounded-bl-[80px];
}

.c_landing-page-rectangle11 {
  @apply [border-top:1px_solid_#adc4ce] [border-left:1px_solid_#adc4ce] [border-right:1px_solid_#adc4ce] [border-bottom:1px_solid_#adc4ce] rounded-tl-[70px] rounded-br-[70px] rounded-tr-[70px] rounded-bl-[70px];
}

.c_landing-page-frame11 {
  @apply gap-[10px] w-full px-[232px] py-[196px] max-w-[1351px] box-border items-start rounded-tl-[29px] rounded-br-[29px] rounded-tr-[29px] rounded-bl-[29px] flex-col justify-start bg-[#f9f9ff];
}

.c_landing-page-instance10, .c_landing-page-instance12 {
  @apply w-full max-w-[129px] box-border;
}

.c_landing-page-text10, .c_landing-page-text28, .c_landing-page-text31 {
  @apply w-full max-w-[642px] mt-0 min-h-[auto] text-center mb-0;
}

.c_landing-page-text11, .c_landing-page-text15, .c_landing-page-text32 {
  @apply text-[#1e1e1e] text-[56px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-bold leading-[66px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-instance11 {
  @apply gap-[8px] w-full flex px-[36px] py-[24px] relative max-w-[105px] box-border items-center rounded-tl-[15px] rounded-br-[15px] rounded-tr-[15px] rounded-bl-[15px] justify-start bg-[#96b6c5];
}

.c_landing-page-text12 {
  @apply w-full max-w-[auto] min-h-[auto];
}

.c_landing-page-text12,.c_landing-page-text13,.c_landing-page-text14 {
  @apply mt-0 text-center mb-0;
}

.c_landing-page-text14 {
  @apply w-full max-w-[642px] min-h-[auto];
}

.c_landing-page-frame12 {
  @apply gap-[10px] w-full flex px-[232px] py-[196px] relative max-w-[592px] box-border items-start rounded-tl-[29px] rounded-br-[29px] rounded-tr-[29px] rounded-bl-[29px] flex-col justify-start bg-[#f9f9ff];
}

.c_landing-page-frame13,.c_landing-page-frame14 {
  @apply w-full flex relative box-border;
}

.c_landing-page-frame13 {
  @apply gap-[33px] max-w-[488px] items-center justify-center;
}

.c_landing-page-frame14 {
  @apply max-w-[50px] items-start justify-start;
}

.c_landing-page-text16, .c_landing-page-text18, .c_landing-page-text20, .c_landing-page-text22, .c_landing-page-text24, .c_landing-page-text26, .c_landing-page-text33, .c_landing-page-text35, .c_landing-page-text41, .c_landing-page-text47, .c_landing-page-text53, .c_landing-page-text59, .c_landing-page-text65, .c_landing-page-text71, .c_landing-page-text77, .c_landing-page-text79, .c_landing-page-text81, .c_landing-page-text85, .c_landing-page-text89 {
  @apply w-full max-w-[auto] mt-0 min-h-[auto] text-center mb-0;
}

.c_landing-page-text17, .c_landing-page-text19, .c_landing-page-text21, .c_landing-page-text23, .c_landing-page-text34, .c_landing-page-text36 {
  @apply text-[#1e1e1e] text-[18px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-normal leading-[18px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-frame15 {
  @apply w-full flex relative max-w-[62px] box-border items-start justify-start;
}

.c_landing-page-frame16 {
  @apply gap-[6px] w-full flex relative max-w-[103px] box-border items-center justify-start;
}

.c_landing-page-frame17,.c_landing-page-frame18 {
  @apply w-full box-border items-start justify-start;
}

.c_landing-page-frame17 {
  @apply overflow-hidden max-w-[20px] flex-col;
}

.c_landing-page-frame18 {
  @apply flex relative max-w-[105px];
}

.c_landing-page-frame19,.c_landing-page-instance13 {
  @apply w-full flex relative max-w-[36px] box-border items-start justify-start;
}

.c_landing-page-instance13 {
  @apply gap-[8px] px-[24px] py-[18px] max-w-[90px] items-center rounded-tl-[30px] rounded-br-[30px] rounded-tr-[30px] rounded-bl-[30px] justify-end bg-[#000];
}

.c_landing-page-text25, .c_landing-page-text27, .c_landing-page-text90 {
  @apply text-[#fff] text-[16px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-bold leading-[18px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-instance14 {
  @apply gap-[8px] w-full flex px-[24px] py-[18px] relative max-w-[171px] [border-top:1px_solid_#96b6c5] [box-shadow:0_4px_4px_0_rgba(0,0,0,.25)] box-border items-center [border-left:1px_solid_#96b6c5] [border-right:1px_solid_#96b6c5] [border-bottom:1px_solid_#96b6c5] rounded-tl-[30px] rounded-br-[30px] rounded-tr-[30px] rounded-bl-[30px] justify-end bg-[#96b6c5];
}

.c_landing-page-instance15 {
  @apply w-full overflow-hidden max-w-[18px] box-border items-start flex-col justify-start;
}

.c_landing-page-text29,.c_landing-page-text30 {
  @apply text-[#303030] text-[56px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-bold leading-[66px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-instance16 {
  @apply gap-[8px] w-full flex px-[36px] py-[24px] relative max-w-[170px] [border-top:1px_solid_#d4d2e3] box-border items-center [border-left:1px_solid_#d4d2e3] [border-right:1px_solid_#d4d2e3] [border-bottom:1px_solid_#d4d2e3] rounded-tl-[37px] rounded-br-[37px] rounded-tr-[37px] rounded-bl-[37px] justify-start bg-[#fff];
}

.c_landing-page-instance17,.c_landing-page-instance18 {
  @apply w-full box-border justify-start;
}

.c_landing-page-instance17 {
  @apply gap-[8px] flex px-[36px] py-[24px] relative max-w-[428px] [border-top:1px_solid_#d4d2e3] items-center [border-left:1px_solid_#d4d2e3] [border-right:1px_solid_#d4d2e3] [border-bottom:1px_solid_#d4d2e3] rounded-tl-[37px] rounded-br-[37px] rounded-tr-[37px] rounded-bl-[37px] bg-[#fff];
}

.c_landing-page-instance18 {
  @apply overflow-hidden max-w-[18px] items-start flex-col;
}

.c_landing-page-text37, .c_landing-page-text39 {
  @apply w-full max-w-[574px] mt-0 min-h-[auto] text-left mb-0;
}

.c_landing-page-text38, .c_landing-page-text40 {
  @apply text-[#1e1e1e] text-[18px] not-italic mt-0 text-left font-["DM_Sans",sans-serif] font-normal leading-[30px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-group10, .c_landing-page-group11, .c_landing-page-group12, .c_landing-page-group13, .c_landing-page-group14, .c_landing-page-group15 {
  @apply w-full max-w-[388px] box-border flex-col;
}

.c_landing-page-rectangle12, .c_landing-page-rectangle13, .c_landing-page-rectangle14, .c_landing-page-rectangle15, .c_landing-page-rectangle16, .c_landing-page-rectangle17 {
  @apply w-full h-auto m-0 block max-w-[388px] [border-top:1px_solid_#d4d2e3] [border-left:1px_solid_#d4d2e3] [border-right:1px_solid_#d4d2e3] [border-bottom:1px_solid_#d4d2e3] rounded-tl-[24px] rounded-br-[24px] rounded-tr-[24px] rounded-bl-[24px];
}

.c_landing-page-text42, .c_landing-page-text48, .c_landing-page-text54, .c_landing-page-text60, .c_landing-page-text66, .c_landing-page-text72 {
  @apply text-[#444] text-[56px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-bold leading-[66px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-text43, .c_landing-page-text45, .c_landing-page-text49, .c_landing-page-text51, .c_landing-page-text55, .c_landing-page-text57, .c_landing-page-text61, .c_landing-page-text63, .c_landing-page-text67, .c_landing-page-text69, .c_landing-page-text73, .c_landing-page-text75 {
  @apply w-full max-w-[324px] mt-0 min-h-[auto] text-center mb-0;
}

.c_landing-page-text44, .c_landing-page-text50, .c_landing-page-text56, .c_landing-page-text62, .c_landing-page-text68, .c_landing-page-text74 {
  @apply text-[#2c2c2c] text-[28px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-bold leading-[38px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-text46, .c_landing-page-text52, .c_landing-page-text58, .c_landing-page-text64, .c_landing-page-text70, .c_landing-page-text76 {
  @apply text-[#757575] text-[18px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-normal leading-[30px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-frame20,.c_landing-page-frame21 {
  @apply gap-[69px] w-full flex relative max-w-[565px] box-border items-center justify-start;
}

.c_landing-page-frame21 {
  @apply gap-[40px] max-w-[250px] justify-center;
}

.c_landing-page-frame22,.c_landing-page-frame23 {
  @apply w-full max-w-[50px] box-border;
}

.c_landing-page-frame23, .c_landing-page-frame25, .c_landing-page-frame27 {
  @apply gap-[6px] flex relative items-center justify-start;
}

.c_landing-page-text78, .c_landing-page-text80, .c_landing-page-text82 {
  @apply text-[#2c2c2c] text-[18px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-normal leading-[18px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-frame24,.c_landing-page-frame25 {
  @apply w-full max-w-[52px] box-border;
}

.c_landing-page-frame26,.c_landing-page-frame27 {
  @apply w-full max-w-[68px] box-border;
}

.c_landing-page-frame28,.c_landing-page-frame29,.c_landing-page-frame30,.c_landing-page-instance19,.c_landing-page-instance20 {
  @apply w-full max-w-[36px] box-border items-start flex-col justify-start;
}

.c_landing-page-instance19,.c_landing-page-instance20 {
  @apply max-w-[50px];
}

.c_landing-page-frame31 {
  @apply gap-[28px] w-full flex relative max-w-[1216px] box-border items-center justify-start;
}

.c_landing-page-group16,.c_landing-page-group17 {
  @apply w-full max-w-[580px] box-border flex-col;
}

.c_landing-page-rectangle18 {
  @apply w-full h-auto m-0 block max-w-[579.6907348632812px] rounded-tl-[20px] rounded-br-[20px] rounded-tr-[20px] rounded-bl-[20px];
}

.c_landing-page-instance21, .c_landing-page-instance23, .c_landing-page-instance24 {
  @apply w-full max-w-[80px] box-border;
}

.c_landing-page-text83 {
  @apply w-full max-w-[453px] mt-0 min-h-[auto] text-center mb-0;
}

.c_landing-page-text84 {
  @apply text-[#2c2c2c] text-[44px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-bold leading-[50px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-text86 {
  @apply text-[#2c2c2c] text-[18px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-medium leading-[20px] mb-0 tracking-[2px] uppercase;
}

.c_landing-page-text87 {
  @apply w-full max-w-[340.5958251953125px] mt-0 min-h-[auto] text-center mb-0;
}

.c_landing-page-text88 {
  @apply text-[#444] text-[18px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-normal leading-[30px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-instance22 {
  @apply gap-[8px] w-full flex px-[24px] py-[18px] relative max-w-[121px] box-border items-start rounded-tl-[30px] rounded-br-[30px] rounded-tr-[30px] rounded-bl-[30px] justify-start bg-[#2c2c2c];
}

.c_landing-page-group18,.c_landing-page-group19,.c_landing-page-group20 {
  @apply w-full max-w-[290px] box-border;
}

.c_landing-page-group19,.c_landing-page-group20 {
  @apply flex-col;
}

.c_landing-page-rectangle19 {
  @apply w-full h-auto m-0 block max-w-[290.0897216796875px] rounded-tl-[20px] rounded-br-[20px] rounded-tr-[20px] rounded-bl-[20px];
}

.c_landing-page-text91 {
  @apply w-full max-w-[237px] mt-0 min-h-[auto] text-center mb-0;
}

.c_landing-page-text92, .c_landing-page-text94 {
  @apply text-[#2c2c2c] text-[24px] not-italic mt-0 text-center font-["DM_Sans",sans-serif] font-bold leading-[34px] mb-0 tracking-[0] normal-case;
}

.c_landing-page-group21,.c_landing-page-group22 {
  @apply w-full max-w-[290px] box-border flex-col;
}

.c_landing-page-rectangle20 {
  @apply w-full h-auto m-0 block max-w-[290.08966064453125px] rounded-tl-[20px] rounded-br-[20px] rounded-tr-[20px] rounded-bl-[20px];
}

.c_landing-page-text93 {
  @apply w-full max-w-[232px] mt-0 min-h-[auto] text-center mb-0;
}